__pycache__
*.ckpt
*.pth
/data
/exps
*.sh
!install_env.sh
/weights
/temp
/results
.ipynb_checkpoints/
/TODO.txt
/deprecated
/temp_scripts
/.vscode
/runs
/tests
/meta_files
/train_dataset
*.png
*.jpg
/*.jpeg
/llava/eval/table/*
/llava/eval/webpage/*
/assets/docs
*.json
/llava/serve
*.txt